In [3]:
import numpy as np
import pandas as pd

In [4]:
myindex = ['USA','CANADA','MEXICO']

In [5]:
mydata = [1776,1867,1821]

In [6]:
myser = pd.Series(data=mydata)

In [7]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [8]:
myser = pd.Series(data=mydata,index=myindex)

In [9]:
myser

USA       1776
CANADA    1867
MEXICO    1821
dtype: int64

In [10]:
myser[1]

1867

In [11]:
myser['CANADA']

1867

In [12]:
#series from a dictionary
age = {'sam':5,'frank':10,'spike':7}

In [13]:
pd.Series(age)

sam       5
frank    10
spike     7
dtype: int64

In [14]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [15]:
sales_q1 = pd.Series(q1)

In [16]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [17]:
sales_q2 = pd.Series(q2)

In [18]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [19]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [22]:
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64