In [3]:
import numpy as np
import pandas as pd

## Creating a Series from Python Objects

### From Python List

* NumPy array has numaric index where Pandas uses LABELED INDEX, which is easier to use without memorising.
* But the data is also numarially organised (index), best of boath worlds

In [4]:
my_index = ['USA','Canada','Mexico']

In [5]:
mydata = [1776,1867,1821]

In [6]:
my_series = pd.Series(data=mydata)

In [7]:
my_series

0    1776
1    1867
2    1821
dtype: int64

In [8]:
my_series = pd.Series(data=mydata,index=my_index)

In [9]:
my_series

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [10]:
random_int = np.random.randint(0,100,4)

In [11]:
random_int

array([19, 97, 71, 24])

In [12]:
names = [['Andrew','Bobo','Claire','David']]

In [13]:
ages = pd.Series(random_int,names)

In [14]:
ages

Andrew    19
Bobo      97
Claire    71
David     24
dtype: int32

### From a  Dictionary

In [15]:
ages = {'Sammy':5,'Frank':10,'Spike':7}
ages

{'Sammy': 5, 'Frank': 10, 'Spike': 7}

In [16]:
pd.Series(ages)

Sammy     5
Frank    10
Spike     7
dtype: int64

# Key Ideas of a Series

### Named Index

In [17]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [18]:
s1 = pd.Series(q1)
s2 = pd.Series(q2)

In [19]:
s1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [20]:
s1["Japan"] #case sensitive

80

In [21]:
s1[0]

80

### Operations

In [22]:
# Grab just the index keys
s1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [24]:
# Can Perform Operations Broadcasted across entire Series
s1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [26]:
s2 / 100

Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64

### Between Series

In [27]:
# Pandas can add datas of two series
# It replaces data with NaN (Not a Number) when there is label that is not common in both
s1 + s2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [29]:
# NaN values can be filled
s1.add(s2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64